<!DOCTYPE html>
<html>
<head>
 <title>Сайт</title>
</head>
<body>
 <h1>Введите свои секретные данные</h1>
 <form action="/login" method="post">
  <label for="username">Имя пользователя:</label>
  <input type="text" id="username" name="username"><br><br>
  <label for="password">Пароль:</label>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Войти">
  <div class="box"></div>
  <img src="https://okt-museum.bash.muzkult.ru/media/2021/11/11/1304649061/pr_source.jpg">
  </div>
 </form>
 <br><br>
</body>
</html>